---
---

@import 'collection_home';
@import 'default';

$color-text: #333;
$color-border: #CCC;

body {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h2 {
    color: $color-text;
    padding: 3px;
    border-bottom: solid 3px $color-border;
    border-top: solid 3px $color-border;
}

nav {
    padding: 10px;

    display: flex;
    flex-direction: row;

    a {
        padding: 3px;
        padding-left: 10px;
    }

    .here-now {
        font-weight: bold;
        background: #CCCC;
        border-radius: 10px;
    }
}

main {
    margin: 20px;
    padding: 0px;
}
