---
---

$color-text: #333;
$color-border: #CCC;

header {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 3em;
        border-bottom: solid 3px $color-border;
        align-self: center;

    }
}

body {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h2 {
    color: $color-text;
    padding: 3px;
    border-bottom: solid 3px $color-border;
    border-top: solid 3px $color-border;
}

nav {
    padding: 10px;

    display: flex;
    flex-direction: column;
}

main {
    margin: 20px;
    padding: 0px;
}

nav li {
    padding: 3px;
    padding-left: 10px;
}

nav .here-now {
    font-weight: bold;
    background: #CCCC;
    border-radius: 10px;
}
