<!doctype html>
<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
    </nav>
    {% assign collection = site.collections | where:"label", page.collection | first %}
    <main>
      <header>
        <h1>
          {{ collection.title }}
        </h1>
      </header>
      <section>
        <h1>記事一覧</h1>
        <nav class="article-list">
          <ul>
            {% assign posts = site[collection.label] | where_exp: "x", "x.title != 'Home' " | sort: "last_edit" | reverse %}
            {% for post in posts %}
            <li class="{% if post.url == page.url %} here-now {% endif %}">
              <a href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {{ content }}
        </nav>
      </section>
    </main>
  </body>
</html>
