<!doctype html>
<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    {% assign collection = site.collections | where:"label", page.collection | first %}
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
    </nav>
    <main>
      <header>
        <h2>
          <a href="{{ collection.label | relative_url }}/home.html">{{ collection.title }}</a>
        </h2>
        <h1>
          {{ page.title }}
        </h1>
        <details>
          <summary>
            目次
          </summary>
          <div id="table-of-contents">
            {{ content | toc_only }}
          </div>
        </details>
      </header>
      <hr>
      <section>
        {{ content }}
      </section>
    </main>
  </body>
</html>
