<!doctype html>
<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/default.css" | relative_url }}">
  </head>
  <body>
    {% assign collection = site.collections | where:"label", page.collection | first %}
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
    </nav>
    <main>
      <header>
        <h2>
          <a href="{{ collection.label | relative_url }}/home.html">{{ collection.title }}</a>
        </h2>
        <h1>
	  {% if page.series != '' %}
	  {{ page.series }} 第{{ page.series_part }}講:&nbsp;
	  {% endif %}
          {{ page.title }}
        </h1>
        {% include toc.html %}
      </header>
      <hr>
      <section>
        {{ content }}
      </section>
    </main>
  </body>
</html>
